/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.01.2014, 15:52:06
    Author     : Sammy Guergachi <sguergachi at gmail.com>
*/
/* line 10, D:\Dropbox\Bachelor Arbeit\HTML\AngularJS Quiz\public_html\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Dropbox\/Bachelor Arbeit\/HTML\/AngularJS Quiz\/public_html\/less\/style\.less}line{font-family:\0000310}}
body {
  font-family: Arial, sans-serif;
}
/* line 14, D:\Dropbox\Bachelor Arbeit\HTML\AngularJS Quiz\public_html\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Dropbox\/Bachelor Arbeit\/HTML\/AngularJS Quiz\/public_html\/less\/style\.less}line{font-family:\0000314}}
.quiz-question {
  text-align: center;
  font-size: 3em;
}
/* line 18, D:\Dropbox\Bachelor Arbeit\HTML\AngularJS Quiz\public_html\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Dropbox\/Bachelor Arbeit\/HTML\/AngularJS Quiz\/public_html\/less\/style\.less}line{font-family:\0000318}}
.quiz-button {
  font-size: 3em;
}
