/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.01.2014, 15:52:06
    Author     : Sammy Guergachi <sguergachi at gmail.com>
*/
/* line 10, D:\Studium\Bachelor Arbeit\HTML\angularjs-verkehrsquiz\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Studium\/Bachelor Arbeit\/HTML\/angularjs-verkehrsquiz\/less\/style\.less}line{font-family:\0000310}}
body {
  margin-top: 2em;
  font-family: Arial, sans-serif;
  background-color: #abb3c6;
}
/* line 16, D:\Studium\Bachelor Arbeit\HTML\angularjs-verkehrsquiz\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Studium\/Bachelor Arbeit\/HTML\/angularjs-verkehrsquiz\/less\/style\.less}line{font-family:\0000316}}
.dashboard {
  background: #ffffff;
}
/* line 21, D:\Studium\Bachelor Arbeit\HTML\angularjs-verkehrsquiz\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Studium\/Bachelor Arbeit\/HTML\/angularjs-verkehrsquiz\/less\/style\.less}line{font-family:\0000321}}
.panel .panel-body {
  position: relative;
}
/* line 27, D:\Studium\Bachelor Arbeit\HTML\angularjs-verkehrsquiz\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Studium\/Bachelor Arbeit\/HTML\/angularjs-verkehrsquiz\/less\/style\.less}line{font-family:\0000327}}
.quiz-question {
  position: relative;
  text-align: center;
  font-size: 3em;
  min-height: 2.8em;
}
/* line 34, D:\Studium\Bachelor Arbeit\HTML\angularjs-verkehrsquiz\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Studium\/Bachelor Arbeit\/HTML\/angularjs-verkehrsquiz\/less\/style\.less}line{font-family:\0000334}}
.panel-footer {
  position: relative;
}
/* line 37, D:\Studium\Bachelor Arbeit\HTML\angularjs-verkehrsquiz\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Studium\/Bachelor Arbeit\/HTML\/angularjs-verkehrsquiz\/less\/style\.less}line{font-family:\0000337}}
.panel-footer .tooltip {
  position: absolute;
  top: -1.2em;
  left: 50%;
  margin-left: -0.5em;
  font-size: 5em;
}
/* line 46, D:\Studium\Bachelor Arbeit\HTML\angularjs-verkehrsquiz\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Studium\/Bachelor Arbeit\/HTML\/angularjs-verkehrsquiz\/less\/style\.less}line{font-family:\0000346}}
.btn-size {
  font-size: 2em;
}
/* line 50, D:\Studium\Bachelor Arbeit\HTML\angularjs-verkehrsquiz\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Studium\/Bachelor Arbeit\/HTML\/angularjs-verkehrsquiz\/less\/style\.less}line{font-family:\0000350}}
.quiz-number {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
}
/*.min-height {
	position: relative;
	height: 25em;
	overflow: hidden;
}*/
/*************************************************************************/
/* line 63, D:\Studium\Bachelor Arbeit\HTML\angularjs-verkehrsquiz\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Studium\/Bachelor Arbeit\/HTML\/angularjs-verkehrsquiz\/less\/style\.less}line{font-family:\0000363}}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
}
/* line 68, D:\Studium\Bachelor Arbeit\HTML\angularjs-verkehrsquiz\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Studium\/Bachelor Arbeit\/HTML\/angularjs-verkehrsquiz\/less\/style\.less}line{font-family:\0000368}}
.overlay.overlayTrue {
  background: #39ad1f;
}
/* line 71, D:\Studium\Bachelor Arbeit\HTML\angularjs-verkehrsquiz\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Studium\/Bachelor Arbeit\/HTML\/angularjs-verkehrsquiz\/less\/style\.less}line{font-family:\0000371}}
.overlay.overlayFalse {
  background: #ad1f2f;
}
/*************************************************************************/
/* line 77, D:\Studium\Bachelor Arbeit\HTML\angularjs-verkehrsquiz\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Studium\/Bachelor Arbeit\/HTML\/angularjs-verkehrsquiz\/less\/style\.less}line{font-family:\0000377}}
.panel-danger > .panel-heading {
  color: white;
  background-image: -webkit-linear-gradient(top, #a84747 0%, #4e0e0e 100%);
  background-image: linear-gradient(to bottom, #a84747 0%, #4e0e0e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A84747', endColorstr='#4E0E0E', GradientType=0);
}
/* line 86, D:\Studium\Bachelor Arbeit\HTML\angularjs-verkehrsquiz\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Studium\/Bachelor Arbeit\/HTML\/angularjs-verkehrsquiz\/less\/style\.less}line{font-family:\0000386}}
.panel-success > .panel-heading {
  color: white;
  background-image: -webkit-linear-gradient(top, #5b8f46 0%, #1f4111 100%);
  background-image: linear-gradient(to bottom, #5b8f46 0%, #1f4111 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5B8F46', endColorstr='#1F4111', GradientType=0);
}
/*************************************************************************/
@media (max-width: 767px) {
  /* line 96, D:\Studium\Bachelor Arbeit\HTML\angularjs-verkehrsquiz\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Studium\/Bachelor Arbeit\/HTML\/angularjs-verkehrsquiz\/less\/style\.less}line{font-family:\0000396}}
  .panel-heading h1 {
    font-size: 1.5em;
  }
  /* line 99, D:\Studium\Bachelor Arbeit\HTML\angularjs-verkehrsquiz\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Studium\/Bachelor Arbeit\/HTML\/angularjs-verkehrsquiz\/less\/style\.less}line{font-family:\0000399}}
  .media-heading {
    font-size: 1.2em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 104, D:\Studium\Bachelor Arbeit\HTML\angularjs-verkehrsquiz\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Studium\/Bachelor Arbeit\/HTML\/angularjs-verkehrsquiz\/less\/style\.less}line{font-family:\00003104}}
  .panel-heading h1 {
    font-size: 2em;
  }
  /* line 107, D:\Studium\Bachelor Arbeit\HTML\angularjs-verkehrsquiz\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Studium\/Bachelor Arbeit\/HTML\/angularjs-verkehrsquiz\/less\/style\.less}line{font-family:\00003107}}
  .media-heading {
    font-size: 1.5em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 113, D:\Studium\Bachelor Arbeit\HTML\angularjs-verkehrsquiz\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Studium\/Bachelor Arbeit\/HTML\/angularjs-verkehrsquiz\/less\/style\.less}line{font-family:\00003113}}
  .panel-heading h1 {
    font-size: 2.5em;
  }
}
@media (min-width: 1200px) {
  /* line 119, D:\Studium\Bachelor Arbeit\HTML\angularjs-verkehrsquiz\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Studium\/Bachelor Arbeit\/HTML\/angularjs-verkehrsquiz\/less\/style\.less}line{font-family:\00003119}}
  .panel-heading h1 {
    font-size: 3em;
  }
}
