<div>
	
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			<h1>Verkehrsquiz</h1>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-3 col-md-offset-2 text-justify">
					<p>Diese Minianwendung ist im Zuge meiner Bachelor-Arbeit entstanden und soll als Fragenquiz innerhalb eines Verkehrsparcours dienen. Dabei wird an einem Stativ eine Tablet angebracht. So kann der Fragenquiz mobil im Parcour eingesetzt werden.</p>
					<p>Trotzdem des Einsatzes in einem Verkehrsparcour kann der Quiz auch über das Internet genutzt werden.</p>
					<hr />
					<p>Im Quiz gibt es nur Ja-Nein-Fragen. Sie werden in einer zufälligen Reihenfolge angezeigt. Nach dem Beantworten wird kurz angezeigt, ob die Antwort richtig oder falsch war. Dann folgt eine neue Frage.</p>
					<p>Zum Schluß kommt man zur Auswertung. Dort werden alle Fragen mit ihren richtigen Antworten angezeigt.</p>
				</div>
				<div class="col-md-3 col-md-offset-2">
					<img class="img-responsive" src="assets/Tabletquiz.jpg" alt="" />
				</div>
			</div>
		</div>
		
		<div class="panel-footer">
			<a class="btn btn-lg btn-block btn-default" role="button" ng-click="gotoQuiz()">Weiter zum Quiz</a>
		</div>
	
	</div>
	<div app-output></div>
</div>