<div>
	<!--<h1>Quiz zur Verkehrserziehung</h1>-->
	<!--<ul>
		<li ng-repeat="entity in quiz">{{entity}}</li>
	</ul>-->
	<hr>
	
	<div class="panel {{result}}">
		<div class="panel-heading">
			<h2 class="lead quiz-question">{{choose.question}}</h2>
		</div>
		<div class="panel-body">
			<img ng-src="assets/img/{{choose.image}}" ng-show="choose.image" class="center-block"/>
		</div>
		
		<div class="panel-footer">
			<div class="btn-group btn-group-justified">
				<a class="btn btn-lg btn-danger quiz-button" role="button" ng-click="checkAnswer(false)">Nein</a>
				<a class="btn btn-lg btn-info quiz-button" role="button" ng-click="clickRandom()">Zufall</a>
				<a class="btn btn-lg btn-success quiz-button" role="button" ng-click="checkAnswer(true)">Ja</a>
			</div>
		</div>
	
	</div>
	<hr>
	<div app-output></div>
</div>