<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="quiz-question">
				(<span ng-bind="currentQuestion"></span>/<span ng-bind="totalQuestion"></span>)
				{{choose.question}}
			</h1>
		</div>
		<div class="panel-body min-height">
			<img ng-src="assets/img/{{choose.image}}" ng-show="choose.image" class="img-responsive center-block quiz-img"/>
			<span class="quiz-number">{{choose.uuid}}</span>
		</div>
		
		<div class="panel-footer">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
					<div id="ttAnswerNo" class="tooltip">
						<span class="glyphicon glyphicon-arrow-down"></span>
					</div>
					<a id="btnAnswerNo" class="btn btn-lg btn-block btn-danger btn-size" role="button" ng-click="checkAnswer($event, false)">
						NEIN
					</a>
				</div>
				<div class="col-xs-6 col-sm-6">
					<div id="ttAnswerYes" class="tooltip">
						<span class="glyphicon glyphicon-arrow-down"></span>
					</div>
					<a id="btnAnswerYes" class="btn btn-lg btn-block btn-success btn-size" role="button" ng-click="checkAnswer($event, true)">
						JA
					</a>
				</div>
			</div>
		</div>
	
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-10">
			<div class="progress">
				<div id="questionProgress" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{currentQuestion}}" aria-valuemin="0" aria-valuemax="{{totalQuestion}}" style="width: {{percentQuestion}}%;">
					<span xclass="sr-only">
						<span ng-bind="currentQuestion"></span> / <span ng-bind="totalQuestion"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-1">
			<a class="btn btn-block btn-default" role="button" ng-click="gotoStart()">
				<span class="glyphicon glyphicon-home"></span>
			</a>
		</div>
		<div class="col-xs-6 col-md-1">
			<a class="btn btn-block btn-default" role="button" ng-click="reload()">
				<span class="glyphicon glyphicon-refresh"></span>
			</a>
		</div>
	</div>
	
	<div app-output></div>
	
	<div class="overlay {{overlayColor}}" ng-show="overlayView"></div>
</div>